<!DOCTYPE html>
<html>
  <head>
    <title>Maal Dairy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <div class="background-wrapper">
  <!-- This can be empty — just used for styling -->
    </div>

    <%= yield %>

  </body>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const video = document.getElementById("bannerVideo");

        video.addEventListener("mouseenter", () => {
          video.play();
        });

        video.addEventListener("mouseleave", () => {
          video.pause();
          video.currentTime = 0; // optional: reset to start
        });
      });
    </script>

</html>
